* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #282827;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
#container_element{
    display: flex;
    justify-content: space-evenly;
}

header {
    background: #e19404;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0074d9 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    margin-left: 20px;
    padding: 10px;
}

.hero {
    background: url('bg.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.5em;
}

.collections {
    padding: 50px 0;
    text-align: center;
}

.collections img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.services {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.services ul {
    list-style: none;
}

.events {
    padding: 50px 0;
    text-align: center;
}

.events .event-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.footer {
    background: #d08a07;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.footer p {
    margin-bottom: 10px;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links img {
    width: 30px;
    height: auto;
}